<script setup lang="ts">
import userService from '@/services/user.service'
import { useChoreStore } from '@/stores/chores.store'
import { reactive, ref } from 'vue'
const choreStore = useChoreStore()
const isLoading = ref(false)
const displayErrors = ref(false)
const emit = defineEmits(['close'])
const chore = reactive({ name: '', period: '', description: '' })
const validate = async () => {
  console.log('hello !!!!')
  isLoading.value = true
  displayErrors.value = true
  if (chore.name && chore.description && chore.period) {
    try {
      await userService.postUserChore(chore)
      await choreStore.getChores()
    } catch (e) {
      console.error('something wrong happened')
      console.error(e)
    } finally {
      console.log(chore)
    }
    emit('close')
  }
}
</script>
<template>
  <div class="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3>New Chore</h3>
        </div>
        <form name="form" @submit.prevent="validate">
          <div class="modal-body">
            <div class="mb-3">
              <label for="addChoreTitle" class="form-label">Title:</label>
              <input
                type="text"
                class="form-control"
                id="addChoreTitle"
                placeholder="Enter title"
                v-model="chore.name"
              />
            </div>
            <div class="mb-3">
              <label for="addChoreDescription" class="form-label">
                Description:
              </label>
              <textarea
                type="textarea"
                class="form-control"
                id="addChoreDescription"
                placeholder="Enter description"
                v-model="chore.description"
              />
            </div>
            <div class="mb-3">
              <label for="addChorePeriod" class="form-label">
                Period in days:
              </label>
              <input
                type="text"
                class="form-control"
                id="addChorePeriod"
                placeholder="Enter period"
                v-model="chore.period"
              />
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-danger"
              @click="$emit('close')"
            >
              Cancel
            </button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<style scoped>
.modal {
  position: fixed;
  display: block;
}
</style>
