<script lang="ts" setup>
import { ref, onMounted } from 'vue'
import type { Chore } from '@/entities/chore.entities'
import EditChoreModal from '@/components/EditChoreModal.vue'
import DoChoreModal from '@/components/DoChoreModal.vue'
import DeleteChoreModal from '@/components/DeleteChoreModal.vue'
import { Popover } from 'bootstrap'

onMounted(() => {
  const popoverTriggerList = document.querySelectorAll(
    '[data-bs-toggle="popover"]',
  )
  const popoverList = [...popoverTriggerList].map(
    (popoverTriggerEl) => new Popover(popoverTriggerEl),
  )
})

const openEditModal = ref(false)
const openDoChoreModal = ref(false)
const openDeleteModal = ref(false)

const shortify = (txt: string): string => {
  return `${txt.slice(0, 20)}…`
}

const showDate = (date: Date) => {
  if (date) {
    return date.toLocaleDateString('fr-fr')
  }
  return 'Jamais'
}

const props = defineProps<{
  chore: Chore
}>()

const getRowClass = (chore: Chore): string => {
  if (chore.isOverdue) {
    return 'table-danger'
  }
  if (chore.dueDate == new Date()) {
    return 'table-warning'
  }
  return 'table-success'
}
</script>

<template>
  <tr :class="getRowClass(chore)">
    <td>{{ chore.name }}</td>
    <td
      data-bs-toggle="popover"
      :data-bs-title="chore.name"
      data-bs-trigger="hover focus"
      :data-bs-content="chore.description"
    >
      {{ shortify(chore.description) }}
    </td>
    <td>Tous les {{ chore.period }} jours</td>
    <td>{{ showDate(chore.lastExecutionDate) }}</td>
    <td>{{ showDate(chore.dueDate) }}</td>
    <td>
      <div class="btn-group">
        <button
          type="button"
          class="btn btn-warning btn-sm"
          @click="openEditModal = true"
        >
          Éditer
        </button>
        <button
          type="button"
          class="btn btn-danger btn-sm"
          @click="openDeleteModal = true"
        >
          Supprimer
        </button>
        <button
          type="button"
          class="btn btn-primary btn-sm"
          @click="openDoChoreModal = true"
        >
          Exécuter
        </button>
      </div>
    </td>
    <EditChoreModal
      v-if="openEditModal"
      :chore="chore"
      @close="openEditModal = false"
    />
    <DoChoreModal
      v-if="openDoChoreModal"
      :chore="chore"
      @close="openDoChoreModal = false"
    />
    <DeleteChoreModal
      v-if="openDeleteModal"
      :chore="chore"
      @close="openDeleteModal = false"
    />
  </tr>
</template>
