<script setup lang="ts">
import type { Chore } from '@/entities/chore.entities'
import UserService from '@/services/user.service'

import { useChoreStore } from '@/stores/chores.store'
const emit = defineEmits(['close'])

const props = defineProps<{
  chore: Chore
}>()
const choreStore = useChoreStore()
const deleteChore = async (chore: Chore) => {
  try {
    await UserService.deleteUserChore(chore.id)
    await choreStore.getChores()
  } finally {
    emit('close')
  }
}
</script>
<template>
  <div class="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3>Suppression de {{ chore.name }}</h3>
        </div>
        <div class="modal-body">
          Voulez-vous vraiment supprimer {{ chore.name }} définitivement ?
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary btn-sm"
            @click="$emit('close')"
          >
            Annuler
          </button>
          <button
            type="button"
            class="btn btn-primary btn-sm"
            @click="deleteChore(chore)"
          >
            Ok
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
´
<style scoped>
.modal {
  position: fixed;
  display: block;
}
</style>
