<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
import { useAuthStore } from '@/stores/auth.store'

const authStore = useAuthStore()
</script>

<template>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="navbar-nav me-auto">
        <RouterLink to="/" class="nav-link">Home</RouterLink>
        <RouterLink to="/about" class="nav-link">About</RouterLink>
      </div>
      <div class="navbar-nav">
        <RouterLink v-if="authStore.logged" to="/logout" class="nav-link">
          Log out {{ authStore.getUsername }}
        </RouterLink>
        <RouterLink v-else to="/login" class="nav-link"> Login </RouterLink>
        <RouterLink to="/register" class="nav-link"> Register </RouterLink>
      </div>
    </nav>
  </header>
  <RouterView />
</template>
