<script setup lang="ts"></script>

<template>
  <h1>About</h1>
  <p>Help to manage recuring tasks</p>
  <p>Powered by flask, sqlalchemy, vue3</p>
  <p>Licence MIT</p>
  <p>
    <a href="https://gitlab.com/vanillasoft/chores">homepage</a> open issue if
    you have any problem.
  </p>
  <p>
    I have fun coding this, but i will most likely not maintain this on the long
    run
  </p>
</template>
