<script setup lang="ts">
import { ref, onMounted } from 'vue'
import { useAuthStore } from '@/stores/auth.store'
import { useChoreStore } from '@/stores/chores.store'
import ChoreRow from '@/components/ChoreRow.vue'
import AddChoreModal from '@/components/AddChoreModal.vue'

const authStore = useAuthStore()
const choreStore = useChoreStore()

const isLoading = ref(false)
const getChores = async () => {
  isLoading.value = true
  try {
    await choreStore.getChores()
    isLoading.value = false
  } catch (e) {
    isLoading.value = false
  }
}

onMounted(() => {
  getChores()
})

const openAddModal = ref(false)
</script>

<template>
  <main>
    <h1>Corvées de {{ authStore.getUsername }}</h1>
    <div>
      <button
        type="button"
        class="btn btn-primary"
        @click="openAddModal = true"
      >
        Add chore
      </button>
    </div>
    <AddChoreModal v-if="openAddModal" @close="openAddModal = false" />
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Nom</th>
            <th scope="col">Description</th>
            <th scope="col">Périodicité</th>
            <th scope="col">Dernière exécution</th>
            <th scope="col">Prochaine exécution</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <ChoreRow
            v-for="chore in choreStore.chores"
            :key="chore.id"
            :chore="chore"
          ></ChoreRow>
        </tbody>
      </table>
    </div>
  </main>
</template>
