<template>
  <div class="col d-flex justify-content-center">
    <div class="card w-25 bg-light text-center mt-3">
      <img
        id="profile-img"
        src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
        class="profile-img-card"
      />
      <form name="form" @submit.prevent="validate">
        <div class="mb-3">
          <label for="username" class="fom-label">Nom d'utilisateur</label>
          <input
            type="text"
            class="form-control"
            name="username"
            id="username"
            v-model="user.username"
          />
        </div>
        <div class="mb-3">
          <label for="password">Mot de passe</label>
          <input
            v-model="user.password"
            id="password"
            type="password"
            name="password"
            class="form-control"
          />
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { reactive, ref } from 'vue'
import { useAuthStore } from '@/stores/auth.store'

import router from '@/router'

const isLoading = ref(false)
const displayErrors = ref(false)
const authStore = useAuthStore()
const user = reactive({ username: '', password: '' })

const validate = async () => {
  isLoading.value = true
  displayErrors.value = true
  if (user.username && user.password) {
    try {
      await authStore.login(user)
      router.replace('/')
    } catch (e) {
      isLoading.value = false
      console.error('something wrong happenend')
      console.error(e)
    }
  }
}
</script>
<style>
.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
</style>
